<!DOCTYPE html>
<html lang="fr">

<head>
    <title>identify</title>
    <style>
        .identify {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: x-large;
            color: #D0104C;
            text-align: center;
            padding-top: 100px;
        }
    </style>
</head>

<body>
    <p class="identify"> Merci de vous authentifier. </p>
</body>

</html>