<!DOCTYPE html>
<html lang="fr">

<head>
    <title>server redirection</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src="http://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/server.js"></script>
</head>

<body class="background">

    <div class="login">
        <h1>identifiant incorrect <%=v_nom%>, <br/><br/>Veuillez Reessayer!</h1>
        <form action="login" method="POST">
            <input class="text" type="text" name="username" placeholder="Nom d'utilisateur">
            <input class="text" type="password" name="password" placeholder="Passwrod">
            <input class="submit" type="submit">
        </form>
    </div>
</body>

</html>