body {
    background-color: #FEDFE1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 12%;
}

.msg {
    text-align: center;
    font-size: 30px;
    color: #DB4D6D;
    padding-bottom: 1%;
    padding-top: 2%;
}

.center {
    margin-left: auto;
    margin-right: auto; 
    color: black;
    text-align:center;
}

.menu {
    background-color: beige;
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 10px;
}

.menu .link {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.menu a:link,
.menu a:visited {
    color: #DB4D6D;
    text-decoration: none;
    letter-spacing: 0.10em;
}

.table_menu {
    width: 100%;
    height: 40%;
}

.menu .link_name {
    font-size: 14px;
    text-align: center;
    width: 50%;
    position: 50%;
}

.menu_title {
    width: 100%;
    height: 100px;
    background-color: beige;
    color: #DB4D6D;
    font-size: 30px;
    text-align: center;
    text-decoration: underline solid;
    line-height: 100px;
}
